<% unless @product_properties.empty? %>  

  <div id="" class="properties" data-hook>
   
      <% @product_properties.each do |product_property| %>
        <% css_class = cycle('even', 'odd', :name => "properties") %>
        <dl class="">
          <dt><strong><%= product_property.property.presentation %>:</strong></dt>
          <dd ><%= product_property.value %></dd>
        </dl>
      <% end %>
      <% reset_cycle('properties') %>
   
  </div>
<% end %>
