#related-products-carousel {
  .related-product {
  }
  .carousel-control { 
    &.left {
      right: 100%;
      left: auto;
    }
    &.right {
      right: auto;
      left: 100%;
    }
  }
}

.products-list {
  .product-title {
    height: 32px;
  }
}

div.rating-cancel { display: none !important; }

div.star-rating,
div.star-rating a {
  float: left;
  width: 17px;
  height: 18px;
  text-indent: -999em;
  cursor: pointer;
  display: block;
  background: transparent;
  overflow: hidden
}
div.star-rating, 
div.star-rating a
{
  background: url('/assets/bg-stars-product.png') no-repeat 0 4px;
}

div.star-rating-hover a,
div.star-rating-on a {
  background: url("/assets/bg-stars-product.png") no-repeat 0 -16px;
}

.products-list {
  div.star-rating, 
  div.star-rating a
  {
    background: url('/assets/bg-stars.png') no-repeat 0 4px;
  }

  div.star-rating-hover a,
  div.star-rating-on a {
    background: url("/assets/bg-stars.png") no-repeat 0 -16px;
  }
}

.product-review-small { height: 20px; }

