#related-products-carousel {
  .related-product {
  }
  .carousel-control { 
    &.left {
      right: 100%;
      left: auto;
    }
    &.right {
      right: auto;
      left: 100%;
    }
  }
}

.products-list {
  .product-title {
    height: 32px;
  }
}