#related-products-carousel {
  .related-product {
  }
  .carousel-control { 
    &.left {
      right: 100%;
      left: auto;
    }
    &.right {
      right: auto;
      left: 100%;
    }
  }
}

.products-list {
  .product-title {
    height: 32px;
  }
}

div.rating-cancel,
div.star-rating {
  float: left;
  width: 17px;
  height: 15px;
  text-indent: -999em;
  cursor: pointer;
  display: block;
  background: transparent;
  overflow: hidden
}
div.rating-cancel,
div.rating-cancel a {
  background: url("/assets/bg-stars-product.png") no-repeat 0 -16px; 
}
div.star-rating, 
div.star-rating a
{
  background: url('/assets/bg-stars-product.png') no-repeat 0 4px!important ;
}

