<% if get_reviews.any? %>
  <div>
    <fieldset>
      <legend>Latest Reviews</legend>
      <% get_reviews.each do |review| %>
        <blockquote>
          "<%= review.review %>"

             <p>
          <%# Stars %>
        </p>
          <p class="author">
            - <%= review.name %>
          </p>
        </blockquote>
     
       
      <% end -%>
    </fieldset>
  </div>
<% end -%>