<div id="reviews" class="row-fluid">
  
  <div class="heading">
  <h3 class="product-section-title"><%= Spree.t(:reviews) %></h3>
  </div>
  

  <% if Spree::Reviews::Config[:include_unapproved_reviews] == false and @product.reviews.approved.count == 0 %>
    <p class="reviews-none"><%= Spree.t('no_reviews_available')%></p>
  <% else %>
    <%= render :partial => 'spree/shared/rating', :locals => {:product => @product, :review => 0} %>
     <aside class="sidebar block-reviews">
    <% for review in (Spree::Reviews::Config[:track_locale] ? @product.reviews.localized(I18n.locale) : @product.reviews).approval_filter %>
   
      <%= render :partial => 'spree/shared/review', :locals => {:review => review} %>

    <% end %>
  </aside>
  <% end %>


</div>


