<%= form_tag spree.products_path, :method => :get, class: "form-search" do %>
	<label for="search"><%= Spree.t 'main_site' %></label>
  <%= text_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search), id: :search, class: "search-query" %>
  <%= submit_tag Spree.t(:search), :name => nil, class: :btn %>
<% end %>