<%= form_tag spree.products_path, :method => :get, class: "form-search" do %>
	<span style="float:left"><a href="http://www.lavazza.us/us/">lavazza.us</a></span>

	<% if try_spree_current_user %>
		<%# TODO: Find proper route name for /account %>
		<%= link_to Spree.t("my_account"), "/account" %>
	<% end %>
  <%= text_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search), id: :search, class: "search-query" %>
  <%= submit_tag Spree.t(:search), :name => nil, class: :btn %>
<% end %>